.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100vw;
  background-color: black;
  z-index: 20;
}

.logoWrap {
  width: 100px;
}

.logoWrap img {
  width: 100%;
}

.authBtns {
  display: flex;
}

.authBtns button {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 18px;
  cursor: pointer;
}

.authBtns button:nth-of-type(2) {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-right: 0;
}
.footerWrap {
  padding: 50px;
}

.footerWrap p {
  color: white;
  text-align: center;
}
